@model MovieRentals.Models.Customer


<h2>Customer Details</h2>


    <h3>@Model.CustomerName</h3>
    <h4>Membership Type : @Model.MembershipType.SignUpFee</h4>
    @if (Model.BirthDate != null)
    {
        <h4>Birthdate: @Model.BirthDate</h4>
    }
    

