@model IEnumerable<MovieRentals.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Add Customer", "New", "Customers", new { @class="btn btn-primary" })
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><h3>Customers</h3></th>
            <th><h3>Discount Rate</h3></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td><h4>@Html.ActionLink(p.CustomerName, "Edit", "Customers", new { id = p.CustomerId }, null)</h4></td>
                <td><h4>@p.MembershipType.MemberName</h4></td>
            </tr>



        }
    </tbody>
</table>